@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&family=Righteous&family=Roboto&display=swap');

* {
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-family: 'Recursive', sans-serif;
	background-color: #fb6b6b;
	border: 1px solid #dbdbdb;
}

.home-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.home-page img {
	width: 136px;
	height: 161px;
	margin-bottom: 20px;
}

h1 {
	font-family: 'Righteous', cursive;
	font-size: 36px;
	font-weight: 400;
	line-height: 45px;
	letter-spacing: -0.012em;
	color: #ffffff;
}

.home-page input {
	font-family: 'Roboto', sans-serif;
	width: 246px;
	height: 43px;
	background: #ffffff;
	border: none;
	padding-left: 10px;
	border-radius: 5px;
	margin-top: 36px;
}

.home-page input:focus {
	outline: 0;
}

.btn-homepage.active {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 246px;
	height: 54px;
	background: #ffffff;
	border: 1px solid #d70900;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	margin-top: 18px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #d70900;
}

.btn-homepage.active:hover {
	filter: brightness(90%);
}

.btn-homepage.inactive {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 246px;
	height: 54px;
	background: #e8e8e8;
	border-radius: 5px;
	margin-top: 18px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #c0c0c0;
	cursor: auto;
}

.game-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 42px 0;
}

header img {
	width: 52px;
	height: 60px;
	margin-right: 20px;
}

.flashcards {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 70px;
}

.front-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 300px;
	height: 65px;
	background: #ffffff;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	margin-bottom: 25px;
	padding: 0 15px;
}

.front-card h2 {
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	color: #333333;
}

.front-card .icon {
	color: #333333;
	font-size: 30px;
}

.question-card {
	width: 299px;
	height: 131px;
	background: #ffffd5;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	margin-bottom: 25px;
	padding: 15px;
	position: relative;
}

.question-card h2,
.answer-card h2 {
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	color: #333333;
}

.question-card .icon {
	color: #333333;
	font-size: 30px;
	position: absolute;
	right: 15px;
	bottom: 10px;
}

.answer-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 299px;
	min-height: 131px;
	background: #ffffd5;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	margin-bottom: 25px;
	padding: 10px;
}

.answer-card .buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.answer-card .buttons button {
	width: 85.17px;
	height: 37.17px;
	border-radius: 5px;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #ffffff;
	border: none;
	cursor: pointer;
}

.answer-card .buttons button:hover {
	filter: brightness(90%);
}

.btn-red {
	background-color: #ff3030;
}

.btn-yellow {
	background-color: #ff922e;
}

.btn-green {
	background-color: #2fbe34;
}

.front-card-answered {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 300px;
	height: 65px;
	background: #ffffff;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	margin-bottom: 25px;
	padding: 0 15px;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}

.front-card-answered.red h2 {
	text-decoration-line: line-through;
	color: #ff3030;
}

.front-card-answered.yellow h2 {
	text-decoration-line: line-through;
	color: #ff922e;
}

.front-card-answered.green h2 {
	text-decoration-line: line-through;
	color: #2fbe34;
}

.icon-red {
	font-size: 20px;
	color: #ff3030;
	margin: 0 2px;
}

.icon-yellow {
	font-size: 20px;
	color: #ff922e;
	margin: 0 2px;
}

.icon-green {
	font-size: 20px;
	color: #2fbe34;
	margin: 0 2px;
}

footer,
footer.expanded {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background: #ffffff;
	box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
	padding: 16px 70px;
	position: fixed;
	bottom: 0;
	z-index: 1;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	text-align: center;
	color: #333333;
}

footer {
	height: 70px;
	justify-content: center;
}

footer.expanded {
	height: 244px;
	justify-content: space-between;
}

.footer-title {
	display: flex;
	flex-direction: row;
}

.footer-title img {
	margin-right: 12px;
}

.footer-title h3 {
	font-weight: 700;
}

.btn-restart {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 167px;
	height: 32px;
	background: #fb6b6b;
	border-radius: 5px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #ffffff;
}

.btn-restart:hover {
	filter: brightness(90%);
}

@media screen and (min-width: 614px) {
	.front-card,
	.front-card-answered {
		width: 567.12px;
	}

	.question-card,
	.answer-card {
		width: 567.12px;
	}

	.answer-card .buttons button {
		width: 175px;
	}
}
